@{
    ViewData["Title"] = "DeleteForm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Haber Silme Sayfası</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Haber Silme Sayfası</h6>
        </div>
        <div class="card-body">
            <p>Haber silme işlemi tamamlanmıştır.</p>
        </div>
    </div>
</div>
